@import "../../../../app/variables.scss";

.trending {
	background-color: $darkbg;
	display: grid;
	grid-column-start: 1;
	grid-column-end: 9;
	grid-template-columns: repeat(5, 1fr);
	row-gap: 24px;
	padding: 2% 1%;
	border-radius: 6px;
	margin-top: 20px;

	&__btnWrapper {
		display: grid;
		justify-content: center;
		grid-column-start: 1;
		grid-column-end: 6;
	}

	&__btn {
		min-width: 100px;
		font-size: 16px;
		font-weight: 600;
		align-items: center;
		justify-content: center;
		display: grid;
		background-color: $main;
		border-radius: 6px;
		justify-self: center;
		padding: 10% 10%;
	}

	&__header {
		font-size: 20px;
		text-align: center;
		grid-column-start: 1;
		grid-column-end: 6;
		font-weight: 600;
	}

	&__items {
		display: grid;
		grid-column-start: 1;
		grid-column-end: 6;
		grid-template-columns: repeat(5, 1fr);
		justify-content: space-around;
		align-items: center;
		column-gap: 20px;
	}

	&__item {
		border-radius: 8px;
		display: grid;
		justify-self: center;
		align-self: center;
		background: #212123;

		&-img {
			border-radius: 8px 8px 0 0;
			max-height: 225px;
		}

		&-header {
			font-weight: 600;
			font-size: 15px;
			line-height: 18px;
		}

		&-about {
			padding: 7% 4% 0 4%;
			display: grid;
			grid-template-rows: 1fr .5fr 3fr;
		}

		&-category {
			color: #B8B8B8;
			font-size: 12px;
			font-weight: 500;
		}

		&-footer {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&-prices {
			display: flex;
			align-items: center;
			column-gap: 5px;
		}

		&-price {
			color: $lightmain;
			font-size: 20px;
			font-weight: 700;
		}

		&-oldprice {
			text-decoration: line-through;
			color: #576067;
			font-size: 13px;
			font-weight: 500;
			line-height: 16px;
		}

		&-purchased {
			color: #576067;
			font-size: 10px;
			font-weight: 500;
			line-height: 10px;
		}
	}
}