@import "../../../../app/variables.scss";

.categories {
	background-color: $darkbg;
	padding: 10%;
	grid-column-start: 1;
	grid-column-end: 3;
	font-weight: 500;
	border-radius: 8px;

	&__header {
		font-size: 16px;
		font-weight: 600;
		font-style: normal;
		margin-bottom: 20px;
	}

	&__itemsWrapper {
		display: grid;
		row-gap: 10px;
	}

	&__item {
		color: #576067;
		font-weight: 500;
		transition: .4s;
		font-size: 14px;

		&:hover {
			color: $lightmain;
		}
	}

	&__footer {
		color: #576067;
		margin-top: 70px;
		font-size: 12px;
		display: flex;
		justify-content: space-between;
	}
}